<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Running Store</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Running Store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/icons/web-icon-180.png}" type='image/x-icon' sizes="180x180"/>
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nouislider/nouislider.css}">

    <!-- Plugins JS File -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/superfish.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="container" style="margin-top: 50px;">
    <div class="row"
         style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
        <div class="col-sm-12">
            <h3>Reset Password</h3>
            <form th:action="@{/resetPassword}" method="post">
                <!-- Include the user's code in a hidden input field -->
                <input type="hidden" th:name="username" th:value="${param.username}"/>
                <!-- Your form fields -->
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Enter your new password">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm your new password">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Reset Password</button>
            </form>
        </div>
    </div>
</div>

<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (password !== confirmPassword) {
            alert("Confirmation password does not match!");
            return false;
        }

        return true;
    }
</script>
</body>

</html>