<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Running Store</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Running Store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/icons/web-icon-180.png}" type='image/x-icon' sizes="180x180" />
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nouislider/nouislider.css}">
    <!-- Plugins JS File -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/superfish.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/wNumb.js}"></script>
    <script th:src="@{/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/nouislider.min.js}"></script>
    <script th:src="@{/js/jquery.plugin.min.js}"></script>
    <script th:src="@{/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="page-wrapper">
    <header class="header">
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <a th:href="@{/homePage}" class="logo">
                        <img th:src="@{/images/icons/web-logo.png}" alt="Logo" width="250" height="30">
                    </a>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li>
                                <a th:href="@{/shopPage/{id}(id=1)}" class="sf-with-ul">Shoes</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Men', id=1)}" class="sf-with-ul">Men's Shoes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Nike', id=1)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Adidas', id=1)}">Adidas</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Saucony', id=1)}">Saucony</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Altra', id=1)}">Altra</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Women', id=1)}" class="sf-with-ul">Women's Shoes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Nike', id=1)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Adidas', id=1)}">Adidas</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Saucony', id=1)}">Saucony</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Altra', id=1)}">Altra</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=2)}">GPS Watches</a>
                            </li>
                            <li>
                                <a class="sf-with-ul">Accessories</a>

                                <ul>
                                    <li><a th:href="@{/shopPage/{id}(id=3)}">Bone-conduction earphones</a></li>
                                    <li><a th:href="@{/shopPage/{id}(id=5)}">Running socks</a></li>
                                    <li><a th:href="@{/shopPage/{id}(id=4)}">Running hat</a></li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=6)}" class="sf-with-ul">Clothes</a>

                                <ul>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Men', id=6)}" class="sf-with-ul">Men's Clothes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='T8', id=6)}">T8</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Nike', id=6)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Adidas', id=6)}">Adidas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Women', id=6)}" class="sf-with-ul">Women's Clothes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='T8', id=6)}">T8</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Nike', id=6)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Adidas', id=6)}">Adidas</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=7)}">Nutrition</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form method="get">
                            <div class="header-search-wrapper">
                                <label for="searchFunction" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="keyword" id="searchFunction" placeholder="Search in..." required autocomplete="off">
                                <div id="search-results-dropdown" class="dropdown-menu" style="width: 265px;  border-top: none;"></div>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    <div class="dropdown cart-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-user" th:if="${user != null}" style="font-size: 28px; padding-left: 10px;"></i>
                            <span class="wishlist-txt" th:if="${user != null}" th:text="${user.getUsername()}" style="font-size: 15px;">Login</span>
                        </div>

                        <a class="wishlist-link" th:href="@{/login}" th:if="${user == null}">
                            <span class="wishlist-txt" style="font-size: 15px;">Log in</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" style="transform: translateX(35%); display: flex; justify-content: center; align-items: center; max-width: 170px;" th:if="${user != null}">
                            <div class="dropdown-item-lead">
                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/user}">
                                        <span style="font-size: 15px;">Edit Info</span>
                                    </a>
                                </div>

                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/trackingOrder}">
                                        <span style="font-size: 15px;">Order</span>
                                    </a>
                                </div>

                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/logout}">
                                        <span style="font-size: 15px;">Logout</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                    <div class="dropdown cart-dropdown">
                        <a th:href="@{/cart}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count" th:text="${cartCount}"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" >
                            <div class="dropdown-cart-products">
                            </div><!-- End .cart-product -->

                            <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price" th:text="${#strings.replace(#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT'), ',', '.')}"></span>
                            </div><!-- End .dropdown-cart-total -->

                            <div class="col border-end  d-flex justify-content-center align-items-center">
                                <a th:href="@{/cart}" class="btn btn-primary">View Cart</a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
<!--                                    Showing <span>9 of 56</span> Products-->
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->
                        </div><!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                <div class="col-6 col-md-4 col-lg-4 col-xl-3" th:each="product: ${products}">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
<!--                                            <span class="product-label label-new">New</span>-->
                                            <a th:href="@{/product/{id}(id=${product.pid})}">
                                                <img th:src="@{${'/images/products/' + product.image}}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <button class="btn-product btn-cart" data-toggle="modal" th:data-target="'#addProduct' + ${product.pid}"
                                                        th:onclick="'javascript:addToCart(' + ${product.pid} + ');'">
                                                    <span>ADD TO CART</span>
                                                </button>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#" th:text="${product.gender}"></a>
                                            </div><!-- End .product-cat -->
                                            <h3 th:text="${product.name}" class="product-title"><a th:href="@{/product/{id}(id=${product.pid})}"></a></h3><!-- End .product-title -->
                                            <div th:text="${#strings.replace(#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT'), ',', '.').concat(' đ')}" class="product-price">

                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" th:style="'width: ' + ${product.rating / 5 * 100 + '%;'}"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text" th:text="'(' + ${product.ratingCount} + ' Reviews)'"></span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                            </div><!-- End .row -->
                        </div><!-- End .products -->


<!--                        <nav aria-label="Page navigation">-->
<!--                            <ul class="pagination justify-content-center">-->
<!--                                <li class="page-item disabled">-->
<!--                                    <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">-->
<!--                                        <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                <li class="page-item-total">of 6</li>-->
<!--                                <li class="page-item">-->
<!--                                    <a class="page-link page-link-next" href="#" aria-label="Next">-->
<!--                                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </nav>-->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <label>Filters:</label>
                                <a href="#" class="sidebar-filter-clear" id="cleanAllBtn">Clean All</a>
                            </div><!-- End .widget widget-clean -->
                            <form id="userSelect" method="get">
                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                            Brand
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-1">
                                        <div class="widget-body">
                                            <div class="filter-items">
                                                <!-- Thymeleaf iteration to display brands -->
                                                <div th:each="brand, index : ${brands}" class="filter-item">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" th:id="'brand-' + ${index.index + 1}" th:value="${brand}" name="selectedBrands" th:checked="${selectedBrands != null and selectedBrands.contains(brand)}" onclick="handleCheckboxChange(this)"/>
                                                        <label class="custom-control-label" th:for="'brand-' + ${index.index + 1}" th:text="${brand}"></label>
                                                    </div><!-- End .custom-checkbox -->
                                                </div><!-- End .filter-item -->
                                            </div><!-- End .filter-items -->
                                        </div><!-- End .widget-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .widget -->

                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
                                            Color
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-3">
                                        <div class="widget-body">
                                            <div class="filter-colors">
                                                <!-- Thymeleaf iteration to display colors -->
                                                <a class="color-link" th:each="color : ${allColors}" th:id="'colorDiv' + ${color}" th:title="${color}" th:href="'#'" th:style="'background:' + ${color}" th:attr="data-selected-color=${selectedColor}" onclick="toggleColorAndSubmit(this,event)"><span class="sr-only">Color Name</span></a>
                                            </div><!-- End .filter-colors -->
                                            <input type="hidden" id="selectedColorInput" name="color" />
                                        </div><!-- End .widget-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .widget -->
                            </form>
                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <div class="widget widget-about">
                        <h6 class="text-sm">
                            Developed by Nguyen Hoang Duy - ITITIU19111
                        </h6>
                    </div>
                </div>
                <!-- end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<div class="modal fade" th:each="product : ${products}" th:attr="id='addProduct' + ${product.pid}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img th:src="@{${'/images/products/' + product.image}}" alt="Product image" class="product-image" style="width: 100px; height: 100px; margin-right: 20px;">
                <h5 class="modal-title" th:text="${product.name}">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Size Selection</h5>
                <p>Stock: <span class="stock">0</span></p>
                <div class="form-group btn-group-size" data-toggle="buttons" id="size-buttons"></div>

                <hr>

                <div class="mb-5 col-md-4">
                    <h5>Quantity</h5>
                    <input type="number" class="form-control" name="quantity" th:id="'quantityInput' + ${product.pid}" th:value="${product.quantity}" min="1" step="1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function() {
        // Call the function on page load
        updateCartDropdown();
    });
    var currentProductId;
    var selectedSize;
    function addToCart(productId) {
        currentProductId = productId;
        $.ajax({
            type: "GET",
            url: "/getSize",
            data: { pid: productId },
            success: function(response) {
                // Xử lý phản hồi từ server
                console.log(response);

                // Cập nhật nội dung Thymeleaf với danh sách kích thước
                updateSizeList(response);
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
            }
        });
    }

    function updateSizeList(sizes) {
        // Xóa tất cả các nút radio hiện có
        $(".btn-group-size").empty();

        if (sizes.length > 1) {
            // Nếu sizes không phải là null và có ít nhất một kích thước
            // Thêm các nút radio mới dựa trên danh sách kích thước từ server
            sizes.forEach(function(size) {
                $(".btn-group-size").append(
                    '<label class="btn btn-primary" style="min-width: 60.5px !important; margin-right: 5px;">' +
                    '<input type="radio" name="options" autocomplete="off" style="display: none;" onchange="getSizeStock(\'' + size + '\')">' +
                    size +
                    '</label>'
                );
            });
            $(".stock").text(0);
        } else {
            $(".btn-group-size").hide();
            $(".stock").text("Số lượng tồn kho: " + getSizeStock("0")); // Sử dụng giá trị của sizes[0] hoặc giá trị mặc định khác nếu cần
        }
    }

    function getSizeStock(size) {
        var productId = currentProductId;
        selectedSize = size;
        console.log("Adding to cart:", productId, size);
        $.ajax({
            type: "GET",
            url: "/getStock",
            data: { pid: productId, size: size },
            success: function(response) {
                console.log("Stock response:", response);
                // Cập nhật số lượng tồn kho vào Thymeleaf
                $(".stock").text(response);
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
            }
        });
    }

    function saveChanges() {
        var quantityInputId = 'quantityInput' + currentProductId;
        // Retrieve the quantity input element using the dynamic ID
        var quantityInput = document.getElementById(quantityInputId);
        var quantityValue = quantityInput.value;
        $.ajax({
            type: "POST",
            url: "/addToCart",
            data: { pid: currentProductId, size: selectedSize, quantity: quantityValue },
            success: function(response) {
                console.log(response);
                $('#addProduct' + currentProductId).modal('hide');
                updateCartDropdown();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
                // Handle error, e.g., show an error message
            }
        });
    }

    function updateCartDropdown() {
        $.ajax({
            type: "GET",
            url: "/updateCartDropdown", // Replace with the actual endpoint to get updated cart information
            success: function(response) {
                // Update the content of the cart dropdown
                $(".dropdown-cart-products").empty(); // Clear existing content

                // Iterate through the updated cart items and append them to the dropdown
                var cartArray = Array.isArray(response.cart) ? response.cart : [];
                cartArray.forEach(function(item) {
                    var formattedPrice = parseFloat(item.price).toLocaleString(undefined, { maximumFractionDigits: 2 });
                    $(".dropdown-cart-products").append(
                        '<div class="product">' +
                        '<div class="product-cart-details">' +
                        '<h4 class="product-title">' + item.name + '</h4>' +
                        '<span class="cart-product-info">' + formattedPrice + '</span>' +
                        '<h5 class="product-title">Quantity: ' + item.quantity + '</h5>' +
                        '<h5 class="product-title">Size: ' + item.size + '</h5>' +
                        '</div>' +
                        '<figure class="product-image-container">' +
                        '<img src="/images/products/' + item.image + '" alt="product">' +
                        '</figure>' +
                        // '<a href="/shopPage/removeItem/' + item.index + '" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>' +
                        '<button class="btn-remove" title="Remove Product" onclick="removeItem(' + item.pid + ', \'' + item.size + '\');"><i class="icon-close"></i></button>' +
                        '</div>'
                    );
                    console.log(item.name)
                });

                // Update the total price in the cart dropdown
                $(".cart-total-price").text(parseFloat(response.total).toLocaleString(undefined, { maximumFractionDigits: 2 }));
                $(".cart-count").text(response.cartCount);
            },
            error: function(xhr, status, error) {
                console.error("Error updating cart dropdown: " + xhr.responseText);
            }
        });
    }

    function removeItem(pid, size) {
        $.ajax({
            type: "GET",
            url: "/removeItem",
            data: { pid: pid, size: size },
            success: function(response) {
                console.log("Stock response:", response);
                updateCartDropdown();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
            }
        });
    }

    $(document).ready(function() {
        $('#searchFunction').keyup(function() {
            var keyword = $(this).val();

            $.ajax({
                type: 'GET',
                url: '/search', // Update the URL to your actual search endpoint
                data: { keyword: keyword },
                success: function(response) {
                    var dropdown = $('#search-results-dropdown');

                    // Clear previous search results and hide dropdown if empty
                    dropdown.empty().hide();

                    // Append new search results as dropdown items
                    $.each(response, function(_, item) {
                        var dropdownItem = $('<a class="dropdown-item d-flex align-items-center" href="/product/' + item.pid + '">' +
                            '<img src="/images/products/' + item.image + '" alt="' + item.name + '" width="60" height="60" class="mr-2">' +
                            '<span class="item-text">' + item.name + '</span>' +
                            '</a>');
                        dropdown.append(dropdownItem);
                    });

                    // Show the dropdown if there are results
                    if (response.length > 0 || keyword.trim() !== '') {
                        dropdown.show();
                    }
                }
            });
        });
    });

    $(document).ready(function() {
        // Ánh xạ giá trị màu tương ứng với mỗi màu
        var colorMappings = {
            "cerulean": "#007BA7",
            "fuchsia dream": "#915C83",
            "mint foam": "#AAF0D1",
            "noise aqua": "#21ABCD",
            "ale brown": "#CC9966",
            "siren red": "#EA3C53",
            "valerian blue": "#5D8AA8",
            "steel": "#B0C4DE",
            "blue dawn": "#F0F8FF",
            "sand": "#EDC9AF",
            "dusklight": "#FF8C00",
            "islantis": "#54626F",
            "kingstone": "#808A87",
            "blackinferrno": "#253529",
            "mint canary": "#00FFCD",
            "mint": "#3EB489",
            "blaze": "#E68FAC",
            "black red": "#7C0A02",
            "blueberry": "#4F86F7"
        };

        // Lặp qua tất cả các phần tử có class "color-link"
        $(".color-link").each(function() {
            // Lấy giá trị color từ thuộc tính title
            var colorValue = $(this).attr("title");

            // Lấy giá trị màu mới tương ứng từ đối tượng ánh xạ
            var newColorValue = colorMappings[colorValue];

            // Kiểm tra nếu màu mới tồn tại, thì thiết lập giá trị màu mới vào thuộc tính style
            if (newColorValue) {
                $(this).css("background-color", newColorValue);
            }
        });

        var selectedColor = $('[data-selected-color]').data('selected-color');
        if (selectedColor) {
            var newColorValue = colorMappings[selectedColor];
            var escapedSelectedColor = selectedColor.replace(/\s/g, "\\ ");
            var colorLink = $('#colorDiv' + escapedSelectedColor);

            if (newColorValue) {
                colorLink.css('box-shadow', '0 0 5px 2px ' + newColorValue);
            } else {
                colorLink.css('box-shadow', '0 0 5px 2px ' + selectedColor);
            }
        }
    });

    function handleCheckboxChange(checkbox) {
        if (!checkbox.checked) {
            checkbox.checked = true;
        }
        autoSubmit();
    }

    function autoSubmit() {
        document.getElementById('userSelect').submit();
    }

    function toggleColorAndSubmit(element, event) {
        uncheckAllBrands();
        event.preventDefault();
        var color = element.getAttribute('title');
        document.getElementById('selectedColorInput').value = color;
        console.log(color);
        autoSubmit();
    }

    function uncheckAllBrands() {
        $('.custom-control-input').prop('checked', false);
    }

    document.getElementById('cleanAllBtn').addEventListener('click', function() {
        // Thực hiện hành động khi bấm vào nút "Clean All"
        var baseUrl = window.location.origin + window.location.pathname;

        // In ra console để kiểm tra
        console.log('Base URL:', baseUrl);

        // Nếu bạn muốn chuyển hướng trang, bạn có thể sử dụng window.location.href
        window.location.href = baseUrl;
    });

</script>
</body>

</html>