<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Running Store</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Running Store">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/icons/web-icon-180.png}" type='image/x-icon' sizes="180x180" />
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/owl-carousel/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/magnific-popup/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/plugins/nouislider/nouislider.css}">
    <!-- Plugins JS File -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery.hoverIntent.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/superfish.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/wNumb.js}"></script>
    <script th:src="@{/js/bootstrap-input-spinner.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/nouislider.min.js}"></script>
    <script th:src="@{/js/jquery.plugin.min.js}"></script>
    <script th:src="@{/js/jquery.countdown.min.js}"></script>
    <!-- Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</head>

<body>
<div class="page-wrapper">
    <header class="header">
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <a th:href="@{/homePage}" class="logo">
                        <img th:src="@{/images/icons/web-logo.png}" alt="Logo" width="250" height="30">
                    </a>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li>
                                <a th:href="@{/shopPage/{id}(id=1)}" class="sf-with-ul">Shoes</a>
                                <ul>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Men', id=1)}" class="sf-with-ul">Men's Shoes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Nike', id=1)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Adidas', id=1)}">Adidas</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Saucony', id=1)}">Saucony</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Altra', id=1)}">Altra</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Women', id=1)}" class="sf-with-ul">Women's Shoes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Nike', id=1)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Adidas', id=1)}">Adidas</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Saucony', id=1)}">Saucony</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Altra', id=1)}">Altra</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=2)}">GPS Watches</a>
                            </li>
                            <li>
                                <a class="sf-with-ul">Accessories</a>

                                <ul>
                                    <li><a th:href="@{/shopPage/{id}(id=3)}">Bone-conduction earphones</a></li>
                                    <li><a th:href="@{/shopPage/{id}(id=5)}">Running socks</a></li>
                                    <li><a th:href="@{/shopPage/{id}(id=4)}">Running hat</a></li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=6)}" class="sf-with-ul">Clothes</a>

                                <ul>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Men', id=6)}" class="sf-with-ul">Men's Clothes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='T8', id=6)}">T8</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Nike', id=6)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Men', brand='Adidas', id=6)}">Adidas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/shopPage/{gender}/{id}(gender='Women', id=6)}" class="sf-with-ul">Women's Clothes</a>

                                        <ul>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='T8', id=6)}">T8</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Nike', id=6)}">Nike</a></li>
                                            <li><a th:href="@{/shopPage/{gender}/{brand}/{id}(gender='Women', brand='Adidas', id=6)}">Adidas</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a th:href="@{/shopPage/{id}(id=7)}">Nutrition</a>
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    <div class="dropdown cart-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-user" th:if="${user != null}" style="font-size: 28px; padding-left: 10px;"></i>
                            <span class="wishlist-txt" th:if="${user != null}" th:text="${user.getUsername()}" style="font-size: 15px;">Login</span>
                        </div>

                        <a class="wishlist-link" th:href="@{/login}" th:if="${user == null}">
                            <span class="wishlist-txt" style="font-size: 15px;">Log in</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" style="transform: translateX(35%); display: flex; justify-content: center; align-items: center; max-width: 170px;" th:if="${user != null}">
                            <div class="dropdown-item-lead">
                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/user}">
                                        <span style="font-size: 15px;">Edit Info</span>
                                    </a>
                                </div>

                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/user/{username}(username=${user.getUsername()})}">
                                        <span style="font-size: 15px;">Order</span>
                                    </a>
                                </div>

                                <div class="product" style="justify-content: center;">
                                    <a class="wishlist-link" th:href="@{/logout}" th:if="${user != null and user.getUsername() != null}">
                                        <span style="font-size: 15px;">Logout</span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                    <div class="dropdown cart-dropdown">
                        <a th:href="@{/cart}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count" th:text="${cartCount}"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" >
                            <div class="dropdown-cart-products">
                            </div><!-- End .cart-product -->

                            <div class="dropdown-cart-total">
                                <span>Total</span>

                                <span class="cart-total-price" th:text="${#strings.replace(#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT'), ',', '.')}"></span>
                            </div><!-- End .dropdown-cart-total -->

                            <div class="col border-end  d-flex justify-content-center align-items-center">
                                <a th:href="@{/cart}" class="btn btn-primary">View Cart</a>
                            </div><!-- End .dropdown-cart-total -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->
    <div class="container">
        <div class="text-center">
            <h1>User Detail</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div style="border: 1px solid black; padding: 15px;">
                    <form th:action="@{/updateUser}" method="post" th:object="${USER}">
                        <div class="mb-2">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter username" th:field="*{username}" readonly>
                        </div>
                        <div class="mb-2">
                            <label>Full Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter full name" th:field="*{name}">
                        </div>
                        <div class="mb-2">
                            <label>Password</label>
                            <input type="text" class="form-control" name="password" placeholder="Let it empty if you not change" th:field="*{password}">
                        </div>
                        <div class="mb-2">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Enter email" th:field="*{email}">
                        </div>
                        <div class="mb-2">
                            <label>Phone number</label>
                            <input type="text" class="form-control" name="phoneNumber" placeholder="Enter phone number" th:field="*{phoneNumber}">
                        </div>
                        <div class="mb-2">
                            <label>Address</label>
                            <input type="text" class="form-control" name="address" placeholder="Enter address" th:field="*{address}">
                        </div>
                        <input type="hidden" name="role" value="USER">
                        <input type="hidden" name="isConfirm" value="true">
                        <input type="hidden" name="verificationCode" value="null">
                        <p style="color: red" th:text="${ERROR}"></p>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center mt-3">
                    <div class="widget widget-about">
                        <h6 class="text-sm">
                            Developed by Nguyen Hoang Duy - ITITIU19111
                        </h6>
                    </div>
                </div>
                <!-- end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
</div>

<script th:inline="javascript">
    $(document).ready(function() {
        // Call the function on page load
        updateCartDropdown();
    });
    function updateCartDropdown() {
        $.ajax({
            type: "GET",
            url: "/updateCartDropdown", // Replace with the actual endpoint to get updated cart information
            success: function(response) {
                // Update the content of the cart dropdown
                $(".dropdown-cart-products").empty(); // Clear existing content

                // Iterate through the updated cart items and append them to the dropdown
                var cartArray = Array.isArray(response.cart) ? response.cart : [];
                cartArray.forEach(function(item) {
                    var formattedPrice = parseFloat(item.price).toLocaleString(undefined, { maximumFractionDigits: 2 });
                    $(".dropdown-cart-products").append(
                        '<div class="product">' +
                        '<div class="product-cart-details">' +
                        '<h4 class="product-title">' + item.name + '</h4>' +
                        '<span class="cart-product-info">' + formattedPrice + '</span>' +
                        '<h5 class="product-title">Quantity: ' + item.quantity + '</h5>' +
                        '<h5 class="product-title">Size: ' + item.size + '</h5>' +
                        '</div>' +
                        '<figure class="product-image-container">' +
                        '<img src="/images/products/' + item.image + '" alt="product">' +
                        '</figure>' +
                        // '<a href="/shopPage/removeItem/' + item.index + '" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>' +
                        '<button class="btn-remove" title="Remove Product" onclick="removeItem(' + item.pid + ', \'' + item.size + '\');"><i class="icon-close"></i></button>' +
                        '</div>'
                    );
                    console.log(item.name)
                });

                // Update the total price in the cart dropdown
                $(".cart-total-price").text(parseFloat(response.total).toLocaleString(undefined, { maximumFractionDigits: 2 }));
                $(".cart-count").text(response.cartCount);
            },
            error: function(xhr, status, error) {
                console.error("Error updating cart dropdown: " + xhr.responseText);
            }
        });
    }

    function removeItem(pid, size) {
        $.ajax({
            type: "GET",
            url: "/removeItem",
            data: { pid: pid, size: size },
            success: function(response) {
                console.log("Stock response:", response);
                updateCartDropdown();
            },
            error: function(xhr, status, error) {
                console.error("Error: " + xhr.responseText);
            }
        });
    }
</script>

</body>

</html>